[user]
	name = Ole Michaelis
useconfigonly = true
	email = Ole.Michaelis@googlemail.com
	signingkey = 4D7EEFC35167D370
; This will force git to ask me who I am per repo.
; See for-fun and for-work aliases.

[mergetool]
keepBackup = true

[core]
excludesfile = ~/.gitignore

[color]
diff = auto
status = auto
branch = auto

[push]
default = simple

[alias]
yolo = push -f
for-fun  = config user.email "Ole.Michaelis@googlemail.com"
for-work = config user.email "ole.michaelis@dnsimple.com"
[credential]
	helper = osxkeychain
